{{ partial:partials/menu_main }}

<div class="grid-page no-dot" id="top"> 

  <nav class="nav-main home-section--nav home-grid--nav">
    <!-- {{ partial:partials/svg_journey }} -->
    <ul class="languageswitcher-main">
      {{ locales current_first="false" }}
          {{ if total_results > 1 }}
              <a href="{{ url }}">{{ if is_current }}<strong>{{ /if }}{{ locale:handle }}{{ if is_current }}</strong>{{ /if }}</a>{{ unless last}} | {{ /unless }}
          {{ /if }}
      {{ /locales }}  
    </ul>
  </nav>

  <header class="page-header--generic page-header--nomenu" id="page-header--nomenu">
    <a href="{{ link to="/" }}" class="site-logo">
      <img src="{{ asset url='/assets/faros-logo-white-horizontal.png' }}{{ url }}{{ /asset }}">
    </a>
    <div class="page-intro__image">
        {{ assets:header_image }}
        <img src="{{ permalink }}">
      {{ /assets:header_image }}
    </div>
    <div class="page-intro__text">
      <h1 class="page-intro__title">{{ title }}</h1>
    </div>
  </header>

  <main class="about-section about-grid--main">

      <section class="section-a--give">
        <header class="section-a__header"><span>{{ area_title }}</span></header>
        <h2 class="section-a__title">{{ section_title }}</h2>
        <article class="section-a__text">
            {{ section_content | markdown }}
        </article>
        <aside class="give-areas">
          <div class="give-areas__paypal">
            <h3>PayPal</h3>
            <p>By clicking the button below, you will be transferred to Paypal's webpage</p>
            {{ if paypal_button }} {{ paypal_button }} {{ /if }}
          </div>
          <div class="give-areas__bank">
            <h3>Bank Transfer</h3>
            {{ bank_details | markdown }}
            {{ theme:img src="logo-alphabank.svg" tag="true" }}
          </div>
        </aside>
      </section>      

    </main>

    {{ partial:partials/footer_nomap }}
    
</div> <!-- end grid-page -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="{{ theme:js src='site-home.js' }}"></script>