{{ partial:partials/menu_main }}

<div class="grid-page no-dot" id="top"> 

  <nav class="nav-main home-section--nav home-grid--nav">
    <!-- {{ partial:partials/svg_journey }} -->
    <ul class="languageswitcher-main">
      {{ locales current_first="false" }}
          {{ if total_results > 1 }}
              <a href="{{ url }}">{{ if is_current }}<strong>{{ /if }}{{ locale:handle }}{{ if is_current }}</strong>{{ /if }}</a>{{ unless last}} | {{ /unless }}
          {{ /if }}
      {{ /locales }}  
    </ul>
  </nav>

  <header class="page-header--generic page-header--nomenu" id="page-header--nomenu">
    <a href="{{ link to="/" }}" class="site-logo">
      <img src="{{ asset url='/assets/faros-logo-white-horizontal.png' }}{{ url }}{{ /asset }}">
    </a>
    <div class="page-intro__image">
        {{ assets:header_image }}
        <img src="{{ permalink }}">
      {{ /assets:header_image }}
    </div>
    <div class="page-intro__text">
      <h1 class="page-intro__title">{{ title }}</h1>
    </div>
  </header>

  <main class="about-section about-grid--main">

      <section class="section-a--give">
        <header class="section-a__header"><span>{{ area_title }}</span></header>
        <h2 class="section-a__title">{{ section_title }}</h2>
        <aside class="give-areas">
          <div class="give-areas__paypal">
            <p>We are deeply grateful to all who contribute to our work supporting refugee children. If you'd like to help us provide care to refugee children and youth in Greece by supporting us financially, you may give a one-time gift to Faros.</p>
            
            <h3>Bank Transfer</h3>
            <p>Account holder: Faros<br>
                IBAN: GR9601403530353002002004679<br>
                BIC/Swift Code: CRBAGRAA</p>
          </div>
          <div class="give-areas__bank">
            <script src="https://donorbox.org/widget.js" paypalExpress="true"></script><iframe src="https://donorbox.org/embed/faros-1" name="donorbox" allowpaymentrequest="allowpaymentrequest" seamless="seamless" frameborder="0" scrolling="no" height="900px" width="100%" style="max-width: 500px; min-width: 250px; max-height:none!important"></iframe>
          </div>
        </aside>
      </section>      

    </main>

    {{ partial:partials/footer_nomap }}
    
</div> <!-- end grid-page -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="{{ theme:js src='site-home.js' }}"></script>