{{ partial:partials/menu_main }}

<div class="grid-home">

  <nav class="nav-main home-section--nav home-grid--nav">
    {{ partial:partials/svg_journey }}
  </nav>

  <header class="home-section--intro home-grid--intro">
    <a href="{{ homepage }}" class="site-logo">
      <img src="{{ config:app:url }}/assets/faros-logo-white-horizontal.png">
    </a>
    {{ partial:partials/home_header_slider }}
  </header>

  <main class="home-section--main home-grid--main">
    <article class="section-a section-who" id="home-a">
      <header class="section-a__header">
        <span id="hook1About">About</span>
      </header>
      <h2 class="section-a__title">{{ title1 }}</h2>
      <div class="section-a__text two-columns">
        {{ content1 | markdown }}
      </div>
      <a href="{{ link to="about" }}" class="section-morelink">Read more</a>
    </article>
    <article class="home-section--main__b full-width">
      <header class="content__header">
        <span id="hook2Approach">Approach</span>
      </header>
      <figure class="content__image">
        {{ if image2 }}
          {{ image2 }}
            <img data-lazy="{{ url }}">
          {{ /image2 }}
        {{ /if }}
      </figure>
      <h2 class="content__title">{{ title2 }}</h2>
      <div class="content__bg" data-enllax-ratio="-.1" data-enllax-type="foreground">
        <div class="content__text two-columns">
          {{ content2 | markdown }}
        </div>
        <a href="{{ link to="projects" }}" class="section-morelink reverse-color">Read more</a>
      </div>
    </article>
    <article class="home-section--main__c parallax">
      <header class="content__header">
        <span id="hook3Services">News</span>
      </header>

      {{ collection:news limit="3" paginate="false" as="posts" }}

        <style>
          .home-newssection {
            display: flex;
          }
        </style>

        <section class="home-newssection">

        {{ posts }}

          <article class="newspost">

            {{ if image }}
              <figure class="newspost__image aspect-ratio" style="--aspect-ratio:4/3">
                <a href="{{ permalink }}">
                  {{ image | image }}
                </a>
              </figure>
            {{ /if }}
            <date class="newspost__date">{{ newsdate format="j F 'y" }}</date>
            <h3 class="newspost__title">
              <a href="{{ permalink }}">{{ shorttitle }}</a>
            </h3>
            <div class="newspost__content">
              <p>{{ teaser | strip_tags }}</p>
            </div>

          </article>

        {{ /posts }}

        </section>

        <a href="{{ link to="news" }}" class="section-morelink">All news</a>

      {{ /collection:news }}

    </article>
    <article class="home-section--main__d full-width">
      <header class="content__header">
        <span id="hook4Contribute">Contribute</span>
      </header>
      <figure class="content__image">
        <h2 class="content__title">Give</h2>
        <div class="content__text">
          <a href="mailto:volunteers@faros.org.gr" class="donation donation--time hovered">
            <h3 class="donation__title">time</h3>
            <p>Donate your time. Become a volunteer. Contact us at volunteers@faros.org.gr to find opportunities to
              serve.</p>
          </a>
          <a href="{{ link to="give" }}" class="donation donation--money">
            <h3 class="donation__title">money</h3>
            <p>Help us provide care to refugee children. Give a monthly, yearly, or one-time gift to Faros. </p>
          </a>
        </div>
        <img class="give-img" src="{{ theme:asset src='assets/give-time.jpg' }}">
      </figure>
    </article>
    <article class="home-section--main__e">
      <h3 class="content__title">follow us</h3>
      <a class="social-icon__fb" href="https://www.facebook.com/farosgreece/" target="_blank">
        <img src="{{ theme:asset src='assets/facebook.svg' }}">
      </a>
      <a class="social-icon__tw" href="https://twitter.com/farosgreece" target="_blank">
        <img src="{{ theme:asset src='assets/twitter.svg' }}">
      </a>
      <a class="social-icon__yt" href="https://www.youtube.com/channel/UCd65wjfGQiOxns5dsRWdsuQ" target="_blank">
        <img src="{{ theme:asset src='assets/youtube.svg' }}">
      </a>
    </article>
  </main>

  {{ partial:partials/footer }}

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="{{ theme:js src='swiper.min-min.js' }}"></script>
<script src="{{ theme:js src='site-home.js' }}"></script>
{{ partial:partials/swiper-init }}
{{ partial:partials/map-js }}
