{{ partial:partials/menu_main }}

<div class="grid-page" id="top"> 

  <nav class="nav-main home-section--nav home-grid--nav">
    <!--{{ partial:partials/svg_journey }}-->
    <ul class="languageswitcher-main">
      {{ locales current_first="false" }}
          {{ if total_results > 1 }}
              <a href="{{ url }}">{{ if is_current }}<strong>{{ /if }}{{ locale:handle }}{{ if is_current }}</strong>{{ /if }}</a>{{ unless last}} | {{ /unless }}
          {{ /if }}
      {{ /locales }}  
    </ul>
  </nav>

  <header class="page-header--generic page-header--nomenu" id="page-header--nomenu">
    <a href="{{ link to="/" }}" class="site-logo">
      <img src="{{ asset url='/assets/faros-logo-white-horizontal.png' }}{{ url }}{{ /asset }}">
    </a>
    <div class="page-intro__image">
        {{ assets:header_image }}
        <img src="{{ permalink }}">
      {{ /assets:header_image }}
    </div>
    <div class="page-intro__text">
      <h1 class="page-intro__title">{{ title }}</h1>
    </div>
  </header>

  <main class="lightkeeper-section lightkeeper-grid--main">

    <div class="lightkeeper-section__content">{{ section_content }}</div>
    <div class="lightkeeper-section__info">
      {{ assets:lightkeeper_info }}
        <img src="{{ permalink }}">
      {{ /assets:lightkeeper_info }}
    </div>
    <div class="lightkeeper-section__form">
      <script src="https://donorbox.org/widget.js" paypalExpress="true"></script><iframe src="https://donorbox.org/embed/faros-1" name="donorbox" allowpaymentrequest="allowpaymentrequest" seamless="seamless" frameborder="0" scrolling="no" height="900px" width="100%" style="max-width: 500px; min-width: 250px; max-height:none!important"></iframe>
    </div>

  </main>

    {{ partial:partials/footer_nomap }}
    
</div> <!-- end grid-page -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="{{ theme:js src='site-home.js' }}"></script>
<script src="{{ theme:js src='topbox.js' }}"></script>
<script>
	$(document).ready(function() {
		$('.lightbox').topbox();
	});
</script>