<div class="full-width">

  {{ partial:partials/menu_main }}

</div>

<div class="grid-page--news" id="top">

  <!-- <nav class="nav-main home-section--nav home-grid--nav">
    {{ partial:partials/svg_journey }}
  </nav> -->

  <header class="page-header--generic page-header--small">
    <a href="{{ link to="/" }}" class="site-logo">
      <img src="{{ asset url='/assets/faros-logo-white-horizontal.png' }}{{ url }}{{ /asset }}">
    </a>
    <div class="page-intro__image page-intro__image--small">
      {{ assets:header_image }}
      <img src="{{ permalink }}">
      {{ /assets:header_image }}
    </div>
    <div class="page-intro__text">
      <h1 class="page-intro__title">{{ title }}</h1>
    </div>
    <ul class="languageswitcher-main--news">
      {{ locales current_first="false" }}
          {{ if total_results > 1 }}
              <a href="{{ url }}">{{ if is_current }}<strong>{{ /if }}{{ locale:handle }}{{ if is_current }}</strong>{{ /if }}</a>{{ unless last}} | {{ /unless }}
          {{ /if }}
      {{ /locales }}  
    </ul>
  </header>

  <main class="grid-news main-news">

    {{ collection:news limit="6" paginate="true" as="posts" }}

      {{ posts }}

        <article class="newspost">

          {{ if image }}
            <figure class="newspost__image aspect-ratio" style="--aspect-ratio:4/3">
              <a href="{{ permalink }}">
                {{ image | image }}
              </a>
            </figure>
          {{ /if }}
          <date class="newspost__date">{{ newsdate format="j F 'y" }}</date>
          <h3 class="newspost__title">
            <a href="{{ permalink }}">{{ shorttitle }}</a>
          </h3>
          <div class="newspost__content">
            <p>{{ teaser | strip_tags }}</p>
          </div>

        </article>

      {{ /posts }}

      {{ paginate }}
        <nav class="newspost__pagination">
          {{ if prev_page }}
            <a href="{{ prev_page }}">⬅ Previous</a>
          {{ else }}
            <a class="disabled" disabled>⬅ Previous</a>
          {{ /if }}
          <p class="newspost__pagination-count">{{ current_page }} of {{ total_pages }}</p>
          {{ if next_page }}
            <a href="{{ next_page }}">Next ➡</a>
          {{ else }}
            <a class="disabled" disabled>Next ➡</a>
          {{ /if }}
        </nav>
      {{ /paginate }}

    {{ /collection:news }}

  </main>

  {{ partial:partials/footer_nomap }}

</div> <!-- end grid-page -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>