{{ partial:partials/menu_main }}

<div class="grid-page" id="top"> 

  <nav class="nav-main home-section--nav home-grid--nav">
    <!-- {{ partial:partials/svg_journey }} -->
    <ul class="languageswitcher-main">
      {{ locales current_first="false" }}
          {{ if total_results > 1 }}
              <a href="{{ url }}">{{ if is_current }}<strong>{{ /if }}{{ locale:handle }}{{ if is_current }}</strong>{{ /if }}</a>{{ unless last}} | {{ /unless }}
          {{ /if }}
      {{ /locales }}  
    </ul>
  </nav>

  <header class="page-header--generic page-header--nomenu" id="page-header--nomenu">
    <a href="{{ link to="/" }}" class="site-logo">
      <img src="{{ asset url='/assets/faros-logo-white-horizontal.png' }}{{ url }}{{ /asset }}">
    </a>
    <div class="page-intro__image">
      {{ if header_image }}
        {{ header_image | image }}
      {{ /if }}
    </div>
    <div class="page-intro__text">
      <h1 class="page-intro__title">{{ title }}</h1>
    </div>
  </header>

  <main class="about-section about-grid--main main-projects">

    <p class="area-heading">
      Our Partners  
    </p>

    <h2 class="main-title">{{ project_1_title }}</h2>

    {{ if project_1_summary }}
      <article class="section-summary">
        {{ project_1_summary | markdown }}
      </article>
    {{ /if }}

    <section class="project-list">
      {{ project_1_items }}
        <article class="project-item">
          {{ if project_1_text }}
            <figure class="project-item__image">
              {{ project_1_image | image }}
            </figure>
            <div class="project-item__text">
              {{ project_1_text }}
            </div>
          {{ else }}
            {{ project_1_image | image }}
          {{ /if }}
        </article>
      {{ /project_1_items }}
    </section>

    <div class="divider"></div>

    <h2 class="main-title">{{ project_2_title }}</h2>

    {{ if project_2_summary }}
      <article class="section-summary">
        {{ project_2_summary | markdown }}
      </article>
    {{ /if }}

    <section class="project-list">
      {{ project_2_items }}
        <article class="project-item">
          {{ if project_2_text }}
            <figure class="project-item__image">
              {{ project_2_image | image }}
            </figure>
            <div class="project-item__text">
              {{ project_2_text }}
            </div>
          {{ else }}
            {{ project_2_image | image }}
          {{ /if }}
        </article>
      {{ /project_2_items }}
    </section>


  </main>

  {{ partial:partials/footer_nomap }}

  </div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="{{ theme:js src='site-home.js' }}"></script>