{{ partial:partials/menu_main }}

<div class="grid-page" id="top"> 

  <nav class="nav-main home-section--nav home-grid--nav">
    <!--{{ partial:partials/svg_journey }}-->
    <ul class="languageswitcher-main">
      {{ locales current_first="false" }}
          {{ if total_results > 1 }}
              <a href="{{ url }}">{{ if is_current }}<strong>{{ /if }}{{ locale:handle }}{{ if is_current }}</strong>{{ /if }}</a>{{ unless last}} | {{ /unless }}
          {{ /if }}
      {{ /locales }}  
    </ul>
  </nav>

  <header class="page-header--generic page-header--nomenu" id="page-header--nomenu">
    <a href="{{ link to="/" }}" class="site-logo">
      <img src="{{ asset url='/assets/faros-logo-white-horizontal.png' }}{{ url }}{{ /asset }}">
    </a>
    <div class="page-intro__image">
        {{ assets:header_image }}
        <img src="{{ permalink }}">
      {{ /assets:header_image }}
    </div>
    <div class="page-intro__text">
      <h1 class="page-intro__title">{{ title }}</h1>
    </div>
  </header>

  <main class="about-section about-grid--main">

    <header class="summary-header">
      <h1 class="summary-header__title">{{ content1 | markdown }}</h1>
      <div class="summary-header__content">
          <ul class="list-vacancies">
            {{ vacancies }}
              <li>
                <a data-lightbox-type="iframe" class="lightbox" aria-haspopup="dialog" href="{{ assets:pdf }} {{ url }} {{ /assets:pdf }}">
                  {{ if image }}
                    <img src="{{ image }}">
                  {{ /if }}
                  <span>
                    {{ job }}
                  </span>
                </a>
                <p class="vacancy-date">Posted on {{ dateposted }}</p>
              </li>
            {{ /vacancies }}
          </ul>
          <!--<p>Contracts for tender:</p>
          <ul class="list-tenders">
            {{ tenders }}
              <li><a data-lightbox-type="iframe" class="lightbox" aria-haspopup="dialog" href="{{ assets:contract }} {{ url }} {{ /assets:contract }}">{{ tender }}</a></li>
            {{ /tenders }}
          </ul>-->
      </div>
    </header>     

  </main>

    {{ partial:partials/footer_nomap }}
    
</div> <!-- end grid-page -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="{{ theme:js src='site-home.js' }}"></script>
<script src="{{ theme:js src='topbox.js' }}"></script>
<script>
	$(document).ready(function() {
		$('.lightbox').topbox();
	});
</script>