<footer class="home-section--footer home-grid--footer">
  <figure class="footer-logo">
    <img src="{{ theme:asset src='assets/faros-logo-white-vertical.png' }}">
  </figure>
  <div id="farosMap"></div>
  <div class="footer-content">
    <address>Mavrommateon 5, Athens 10682, GR, +30 2108251611, <a href="mailto:faros@faros.org.gr">faros@faros.org.gr</a></address>
    <!--<form class="footer-newsletter" method="POST" action="https://formspree.io/faros@faros.org.gr">
      <h3 class="content__title">news<br>letter</h3>
      <input class="footer__input" type="email" id="newsletter_email" name="newsletter_email"  placeholder="your email address">
      <input type="hidden" name="_subject" value="Please add me to the Faros newsletter mailing list" />
      <input type="hidden" name="_next" value="/subscribed.html" />
      <button class="footer__submit" type="submit">></button>
    </form> -->
    <!-- Begin Mailchimp Signup Form -->
    <form action="https://faros.us18.list-manage.com/subscribe/post?u=f0751bdce27e08a6ee2006b72&amp;id=8ab772be53" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate footer-newsletter" target="_blank" novalidate>
      <h3 class="content__title">news<br>letter</h3>
      <input type="email" value="" name="newsletter_email" class="footer__input" id="newsletter_email" placeholder="Join our mailing list to receive the latest news and updates." required>
        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_f0751bdce27e08a6ee2006b72_8ab772be53" tabindex="-1" value=""></div>
      <input class="footer__submit button" type="submit" value=">" name="subscribe" id="mc-embedded-subscribe"></div>
    </form>
    

    <!--End mc_embed_signup-->
  
  <div class="footer-info">
    <p>Copyright &copy; Faros N.G.O. | All rights reserved</p>
    <!-- <p>Site by <a href="http://aeraki.gr" target="_blank">aeraki</a> | Credits</p> -->
  </div>
</footer>