.grid-news {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: max-content;
    grid-gap: 1em;
}

.main-news {
    padding: 2em;
}

.newspost {
    border: 1px solid var(--faros-gray);
}

.home-newssection > .newspost {
    flex: 1;
    max-width: clamp(200px, 30vw, 500px);
}

.newspost__date {
    padding: 1em 1.7rem 0 1.7rem;
    display: block;
    font-size: 0.6em;
    text-transform: uppercase;
    line-height: 1;
}

.newspost__title {
    margin: 0 1.4rem 1.3rem;
    font-size: 1.1em;
    line-height: 1.35;
    a {
        color: var(--faros-darkblue);
        &:hover {
            color: var(--faros-brown);
        }
    }
}

.newspost__image.aspect-ratio img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.newspost__content {
    margin: 0;
    padding: 0 1.4rem 1.1rem;
    p {
        font-size: 0.65em;
    }
}

.newspost__pagination {
    grid-column: 1/-1;
    display: flex;
    justify-content: space-between;

    a {
        display: inline-block;
        width: 20%;
    }
}

.newspost__pagination .disabled {
    opacity: 0;
}

.newspost__pagination-count {
    text-align: center;
    width: 33.3333%;
    font-size: 0.8em;
}

.page-intro__image--newspost {
    height: 100vh;
}

.page-intro__text--newspost {
    bottom: 0;
    left: 13vw;
}

// Single News Page

.singlenews__article {
    padding: 2em;
}

.singlenews__article .main-title {
    text-transform: unset;
}

.singlenews__tags {
    font-size: 1.5rem;
}

.singleness__tags-title {
    text-transform: uppercase;
    line-height: 1.2;
}

.singlenews__tags > a {
    color: var(--faros-darkblue);
    font-size: 0.8em;
    text-transform: uppercase;
}

.grid-singlenews {
    display: grid;
    grid-template-columns: minmax(10em, auto) 1fr;
}

.singlenews__content {
    //columns:          2;
    column-gap: 1.5em;
    font-size: 1.4rem;
    line-height: 1.8;

    p {
        margin-bottom: 0.9em;
    }
    li {
        margin-bottom: 0.9em;
    }
}

.singlenews__article .back-to {
    float: right;
    display: block;
    width: max-content;
    border: 1px solid var(--faros-darkblue);
    color: var(--faros-darkblue);
    padding: 0.2em 1.8em;
    clear: both;
    margin-top: 1em;
    font-size: 1.5rem;
}

.languageswitcher-main--news {
    position: absolute;
    bottom: 1rem;
    right: 1.5rem;
    width: 8rem;
    text-align: right;
    color: whitesmoke;

    a,
    a:visited {
        color: whitesmoke;

        &:hover {
            color: var(--faros-gray);
        }
    }
}

@media (max-width: 650px) {
    .grid-news {
        grid-template-columns: repeat(2, 1fr);
    }

    .main-news .newspost {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}

@media (max-width: 600px) {
    .singlenews__tags {
        display: none;
    }
    .main-news .newspost {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}

@media (max-width: 500px) {
    .grid-news {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 400px) {
    .main-news {
        padding: 1.7rem;
    }
}
