.main-projects {
  padding:  2.5em 2em;
}

.project-list {
  padding-top:            1.8em;
  display:                grid;
  grid-template-columns:  repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows:         minmax(250px, 1fr);
  grid-gap:               1em;
}

.project-item {
  display:              flex;
  justify-content:      center;
  align-items:          center;
  border:               1px solid var(--faros-gray);
  position:             relative;
  padding:              1.5rem;
  overflow:             hidden;

  &:hover {

    .project-item__text {
      transform:        translateY(0);
    }
  }
}

.project-item__image {
  width:            100%;
  height:           100%;
  display:          flex;
  justify-content:  center;
  align-items:      center;

  img {
    max-height:         70%;
  }
}

.project-item__text {
  position:         absolute;
  font-size:        1.2rem;
  text-align:       center;
  padding:          1.5rem 2rem;
  background:     white;
  width:            100%;
  height:           100%;
  display:          grid;
  place-content:    center;
  top:              0;
  left:             0;
  will-change:      transform;
  transform:        translateY(100%);
  transition:       .4s transform;

  &:hover {
    cursor:         help;
  }
}

.divider {
  margin:         2em 0 1.5em;
  border-bottom:  1px solid var(--faros-gray);
}