:root {
    --faros-darkblue:   rgba(96,113,141,1);
    --faros-brown:      rgba(174,147,110,1);
    --faros-warmgray:   rgba(128,120,116,1);
    --burger-width:     2.3rem;
    --burger-height:    .17em;
    --burger-gap:       .3em;
    --burger-color:     rgba(96,113,141,1);
    --faros-gray:       rgba(207, 204, 202, 1);
    --small-header:     30vw;
  }
  
  @import 'base/reset';
  @import 'base/base';

  @import 'elements/forms';

  @import 'components/hamburgers';
  @import 'components/swiper';
  @import 'components/swiper-adjust';
  @import 'components/moving-dot';  
  @import 'components/nav';
  @import 'components/page-menu-sticky';
  @import 'components/footer';
  @import 'components/lightbox';
  
  @import 'layouts/layout';
  @import 'layouts/section-types';
  @import 'layouts/home';
  @import 'layouts/page';
  @import 'layouts/about';
  @import 'layouts/news';
  @import 'layouts/projects';
  @import 'layouts/give';
  @import 'layouts/vacancies';

  @import 'animations/aux';
    