/** FOOTER SECTION **/

#farosMap {
  width: 100%;
  height: 400px;
  position: relative;
  z-index: 1;
}

.home-section--footer,
.about-section--footer {
  background:   var(--faros-darkblue);
  padding-top:  2.5rem;
  position:     relative;
  margin-top:   2.5rem;
}

.home-section--footer iframe,
.about-section--footer iframe {
  width: 100%;
}

[class*="--footer"] a,
[class*="--footer"] a:visited {
  color:           white;
  text-decoration: underline;
}

[class*="--footer"] a:hover {
  text-decoration: none;
}

.footer-logo {
  width:        12rem;
  position:     absolute;
  z-index:      2;
  top:          4.5rem;
  left:         0;
  background:   var(--faros-darkblue);
  padding:      2rem 2rem 2rem 2.5rem;
  margin:       0;
}

.footer-content {
  padding: 1.5rem 9rem 4rem 9rem;
}

  .footer-content address {
    width:      100%;
    text-align: right;
    font-size:  1.2rem;
    color:      white;
    font-style: normal;
    font-weight: 100;
  }

    .footer-content address a {
      color:    white;
    }

      .footer-content address a:hover {
        color:  rgba(255,255,255,0.4);
      }

  .footer-newsletter {
    display:          flex;
    flex-wrap:        wrap;
    justify-content:  center;
    padding-top:      5rem;
    align-items:      flex-end;
    position:         relative;
  }

  .footer-newsletter
  .content__title {
    width:          25%;
    padding-right:  1rem;
    color:        white;
  }

  .footer-newsletter
  .footer__input {
    width:           calc(75% - 3.5rem);
    margin-left:     3rem;
    border-left:     0px solid;
    border-right:    0px solid;
    border-top:      1px solid var(--faros-brown);
    border-bottom:   1px solid var(--faros-brown);
    padding:         1.5rem 0;
    background:      none;
    outline:         none;
    height:          50%;
    font-size:       2rem;
    color:           white;
  }

    .footer-newsletter
    .footer__input::placeholder {
      color:  rgba(255,255,255,0.5);
      font-style: italic;
      font-weight: 100;
      font-size: 1.5rem
    }

  .footer-newsletter
  .footer__input:focus {
    outline: none;
  }

  .footer-newsletter
  .footer__submit {
    position:        absolute;
    right:           0;
    background:      none;
    outline:         none;
    border:          none;
    color:           white;
    font-size:       2.2rem;
    padding:         1.1rem 0;
    transition:      color .4s;
  }

    .footer-newsletter
    .footer__submit:hover {
      cursor:   pointer;
      color:    var(--faros-brown);
    }

.footer-info {
  border-top:         1px solid var(--faros-warmgray);
  width:              90%;
  margin:             0 auto;
  padding:            1em 0;
  color:            rgba(255,255,255,1);
  font-size:          1rem;
  display:            flex;
  justify-content:    space-between;
  font-weight:        100;
}

@media (max-width:450px) {
  .footer-content {
    padding: 1rem 4rem 3rem;
  }
}